<%- include('../../partials/headerLayout.ejs', {pageName: "workCategories", pageTitle: "Edit Category", pathLevel: "/"}) %>

<div class="col ms-3 mt-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="/dashboard/workCategories">Work Categories</a></li>
            <li class="breadcrumb-item active">Edit Category</li>
        </ol>
    </nav>
</div>
<form action="/dashboard/workCategories/updateForm/update/<%= workCat[0].id %>?_method=PUT" method="post" enctype="application/x-www-form-urlencoded" class="mx-4">
    <div class="row form-group mb-4">
        <div class="col">
            <label for="catName">Category Name</label>
            <input type="text" class="form-control" id="catName" name="catName" value="<%= workCat[0].catName %>" placeholder="Edit category name"
                required>
        </div>
    </div>
    <input type="hidden" name="id" value="<%= workCat[0].id %>">

    <div class="form-group mb-4">
        <button type="submit" class="btn btn-primary">Edit Category</button>
    </div>
</form>

<%- include('../../partials/footerLayout.ejs', { pathLevel : "/"}) %>