<%- include('../../partials/headerLayout.ejs', {pageName: "ContactForm", pageTitle: "Show Message", pathLevel: "/"}) %>

<%if(oneMessage.length > 0) {%>
    <div class="col py-3">
        <div class=" container-fluid row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="/dashboard/contactform">Contact Form</a></li>
                        <li class="breadcrumb-item active">
                            <%= oneMessage[0].fullName %>
                        </li>
                    </ol>
                </nav>
            </div>
            <div class="col text-end fw-lighter">
                <b>Message Id:</b>
                <%= oneMessage[0].id %>
            </div>
        </div>
    </div>
    <ul class="list-group mx-4">
        <li class="list-group-item">
            <div class="row">
                <div class="col" style="max-width: 140px"> <b>Full Name:</b></div>
                <div class="col">
                    <%= oneMessage[0].fullName %>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col" style="max-width: 140px"> <b>Subject:</b></div>
                <div class="col">
                    <%= oneMessage[0].subject %>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col" style="max-width: 140px"> <b>Email:</b></div>
                <div class="col">
                    <a href="mailto:<%= oneMessage[0].email %>"><%= oneMessage[0].email %></a>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col" style="max-width: 140px"> <b>Message:</b></div>
                <div class="col">
                    <%= oneMessage[0].message %>
                </div>
            </div>
        </li>
    </ul>
<%}
else {%>
    <h3>No message with this information !!!</h3>
<%}%>


<%- include('../../partials/footerLayout.ejs', { pathLevel : "/"}) %>